

<div class="site-wrapper">
    <div class="input-container">
        <div id="form-container"></div>
    </div>
    <div id="table-container"></div>
    <div id="sum-container"></div>
</div>

@Scripts.Render("~/bundles/currency-script")
